@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/SegoeUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.woff2') format('woff2'), url('../fonts/SegoeUI.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
    url('../fonts/WorkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
    url('../fonts/WorkSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: #6725a8;
  font-family: 'Segoe UI';
  padding: 0;
  margin: 0;
}

.subheading {
  font-size: 20px;

  @media (min-width: 1024px) {
    font-size: 24px;
    font-weight: 700;
  }
}

/*HEADER*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 13px;
  margin: 0;
  box-sizing: border-box;
  gap: 20px;

  @media (min-width: 1024px) {
    padding: 17px 24px;
  }
}

.header-heading {
  font-family: 'Segoe UI';
  font-size: 22px;
  line-height: 24px;
  color: white;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    max-width: 106px;
    padding: 0 10px;
  }
}

.header-search {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    opacity: 20%;
    border-radius: 35px;
    padding: 0 20px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
  }
}

.main-header-profile,
.main-header-cart {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 13px;
    gap: 7px;
    margin-left: 20px;
  }
}

.header-burger-menu {
  @media (min-width: 1024px) {
    content: url('images/icon-burger-big.svg');
    width: 48px;
    height: 48px;
  }
}

/*MAIN*/

main {
  background-color: #f6f6fa;
  width: auto;
  margin: 0;
  border-radius: 30px;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 32px;
    padding: 20px 24px 0 24px;
  }
}

.container {
  @media (min-width: 1024px) {
    width: 67%;
    box-sizing: border-box;
  }
}

/*CART*/

.cart {
  padding: 16px;

  @media (min-width: 1024px) {
    width: 100%;
    padding: 0;
  }
}

.cart h2 {
  margin-top: 0;
}

.check-all-block {
  display: flex;
  justify-content: space-between;
}

.fold-all-button {
  border: none;
  background: none;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;

  @media (min-width: 1024px) {
    padding-left: 34px;
  }
}

.cart-items-list--missed {
  @media (min-width: 1024px) {
    padding-left: 0;
  }
}

/*ITEM*/

.item {
  gap: 17px;
  padding: 2px 0;
  display: grid;
  gap: 0px 0px;
  grid-template-areas:
    'photo price'
    'photo description'
    'buttons buttons';

  @media (min-width: 1024px) {
    grid-template-areas: 'photo description buttons price';
  }

  @media (min-width: 1440px) {
    grid-template-columns: 10% 60% 15% 15%;
  }
}

.item-missed {
  grid-template-areas:
    'photo description'
    'buttons buttons';
  column-gap: 5px;

  @media (min-width: 1024px) {
    grid-template-areas: 'photo description buttons';
    display: flex;
    gap: 8px;
  }
}

.item-photo-block {
  position: relative;
  grid-area: photo;

  @media (min-width: 1024px) {
    order: 0;
  }
}

.item-description-block {
  grid-area: description;

  @media (min-width: 1024px) {
    padding-left: 12px;
    order: 1;
  }

  @media (min-width: 1440px) {
    margin-right: auto;
  }
}

.item-description-block--missed {
  @media (min-width: 1024px) {
    margin-right: 63px;
  }
}

.item-size-beige {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  position: absolute;
  bottom: 8px;
  left: 4px;
}

.item-photo-checkbox {
  position: absolute;
}

.item-price {
  font-weight: 700;
  font-size: 16px;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.item-price-block {
  grid-area: price;
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: baseline;

  @media (min-width: 1024px) {
    order: 3;
    flex-direction: column;
    align-items: end;
  }
}

.discount {
  font-weight: 400;
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
}

.item-title {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.missing-items li {
  color: #9797af;
}

.missing-items .item-photo {
  filter: grayscale(100%);
}

.item-color,
.item-storage {
  font-size: 13px;
  margin: 0;
  margin-top: 5px;
}

.item-color-size-block {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: baseline;
  }
}

.item-storage {
  color: gray;
}

.item-seller-block,
.item-size {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    font-size: 13px;
  }
}

.item-seller-block {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    color: gray;
  }
}

.item-seller {
  @media (min-width: 1024px) {
    margin: 0;
  }
}

.item-size {
  @media (min-width: 1024px) {
    display: block;
    font-size: 13px;
    margin: 0;
  }
}

.item-buttons-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
  grid-area: buttons;

  @media (min-width: 1024px) {
    flex-direction: column;
    order: 2;
  }
}

.item-buttons-block button {
  border: none;
  background: none;
}

.item-buttons-block--missing {
  justify-content: end;

  @media (min-width: 1440px) {
    margin: 0 10% 0 auto;
  }
}

.item-quantity {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 80px;

  @media (min-width: 1024px) {
    margin-bottom: 15px;
  }
}

.item-quantity p {
  margin: 0;
}

.item-remaining {
  color: red;
  font-size: 13px;
}

.item-misc-buttons {
  width: 30%;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    padding-right: 65px;
  }
}

/*DELIVERY*/

.delivery {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}

.delivery h2 {
  margin: 0;
}

.delivery-block-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delivery-block-heading button {
  border: none;
  background: none;
  color: #cb11ab;
  font-weight: 700;
  font-size: 16px;
}

.item-description-block--missed .delivery-block-heading h2 {
  @media (min-width: 1024px) {
    font-size: 20px;
    font-weight: 700;
  }
}

.pick-up-point {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-areas:
      'heading address'
      'heading info';
    grid-template-columns: 33% 67%;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 23% 77%;
  }
}

.pick-up-point-heading {
  margin: 0;
  font-weight: 700;

  @media (min-width: 1024px) {
    grid-area: heading;
  }
}

.pick-up-point-address {
  margin: 5px 0;
  font-size: 16px;

  @media (min-width: 1024px) {
    grid-area: address;
  }
}

.pick-up-point-info {
  display: flex;
  align-items: baseline;

  @media (min-width: 1024px) {
    grid-area: info;
  }
}

.pick-up-point-info p {
  margin: 0 5px;
  font-size: 13px;
}

.delivery-cost {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.delivery-cost-block {
  @media (min-width: 1024px) {
    display: flex;
    gap: 50px;
    align-items: baseline;
  }
}

.delivery-cost-result {
  font-size: 16px;
  margin: 0;
}

.delivery-dates {
  font-size: 16px;
  font-weight: 700;

  @media (min-width: 1024px) {
    width: 208px;
  }
}

.delivery-dates-block {
  @media (min-width: 1024px) {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}

.items-thumbnails-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    max-width: 429px;
    padding: 0;
  }
}

.delivery-refund {
  font-size: 13px;
  display: flex;
  padding: 0 10px;
  gap: 10px;
}

.delivery-refund p {
  margin: 0;
}

.delivery-refund span {
  color: #0cb477;
}

/*PAYMENT*/

.payment {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
  margin-top: 13px;

  @media (min-width: 1024px) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

.payment-block-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-block-heading button {
  color: #cb11ab;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
}

.payment-block-heading h2 {
  margin: 0;
}

.payment-method-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.payment-method-details p {
  margin: 0;
}

.payment-method-message {
  font-size: 13px;
  color: #9797af;
  margin: 0;
  margin-top: 10px;
}

/*CUSTOMER*/

.customer {
  margin-top: 13px;
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}

.customer h2 {
  margin-top: 0;
}

.customer-details-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 45px;

  @media (min-width: 1024px) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
  }
}

.customer-details-entry {
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI';

  @media (min-width: 1024px) {
    width: auto;
  }
}

.customer-details-entry--name {
  @media (min-width: 1024px) {
    flex-grow: 3;
  }
}

.customer-details-entry--surname {
  @media (min-width: 1024px) {
    flex-grow: 3;
  }
}

.customer-details-entry--email {
  @media (min-width: 1024px) {
    flex-shrink: 3;
  }
}

.customer-details-entry--phone {
  @media (min-width: 1024px) {
    flex-shrink: 3;
  }
}

.customer-details-entry--inn {
  @media (min-width: 1024px) {
    flex-shrink: 3;
  }
}

.customer-details-label {
  font-size: 12px;
}

.customer-details-label--phone {
  color: #a0a0a4;
}

/*SUMMARY*/

.summary {
  padding: 16px;
  border-radius: 20px;

  @media (min-width: 1024px) {
    background-color: white;
    border-radius: 20px;
    width: 31%;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  }
}

.summary-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.summary-list p {
  margin: 0;
}

.summary-cost {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.summary-cost p {
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.summary-items,
.summary-discount,
.summary-delivery {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.summary-pick-point,
.summary-payment {
  display: none;
}

.summary-pick-point {
  @media (min-width: 1024px) {
    display: block;
    margin-bottom: 10px;
  }
}

.summary-pick-point p {
  @media (min-width: 1024px) {
    font-size: 13px;
    padding-right: 13px;
    margin: 4px 0;
  }
}

.summary-pick-point button {
  @media (min-width: 1024px) {
    border: none;
    background: none;
  }
}

.summary-pick-point-date {
  @media (min-width: 1024px) {
    color: #cb11ab;
  }
}

.summary-pick-point-heading {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.summary-pick-point-heading h3 {
  @media (min-width: 1024px) {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.delivery-refund--summary {
  background-color: #f0ecf4;
  padding: 10px 10px;
  border-radius: 8px;
}

.summary-payment {
  @media (min-width: 1024px) {
    display: block;
    margin-top: 10px;
  }
}

.summary-payment-heading {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.summary-payment-heading button {
  @media (min-width: 1024px) {
    border: none;
    background: none;
  }
}

.summary-payment-heading h3 {
  @media (min-width: 1024px) {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.summary-payment-method {
  @media (min-width: 1024px) {
    display: flex;
    gap: 10px;
    align-items: baseline;
    font-size: 13px;
  }
}

.card-date {
  @media (min-width: 1024px) {
    display: none;
  }
}

.summary-payment-time {
  background-color: #f0ecf4;
  padding: 10px 10px;
  border-radius: 8px;
  margin: 15px 0 30px 0;
  font-size: 13px;

  @media (min-width: 1024px) {
    margin-bottom: 23px;
  }
}

.summary-payment-time p {
  margin: 0;
  padding: 7px 0;
}

.summary-order-button {
  border: none;
  background-color: #cb11ab;
  color: white;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
}

.summary-agreement {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
}

.summary-agreement p {
  margin: 0;
  font-size: 13px;
  padding-left: 10px;

  @media (min-width: 1024px) {
    margin-bottom: 0;
    padding-right: 18px;
  }
}

/*FOOTER*/

footer {
  text-align: center;
  color: white;
}

footer p {
  font-size: 13px;
  padding: 10px 0;
  opacity: 60%;
}

/*NAVIGATION*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 13px 10px 13px;
  background-color: white;

  @media (min-width: 1024px) {
    display: none;
  }
}
