@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/SegoeUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.woff2') format('woff2'), url('../fonts/SegoeUI.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
    url('../fonts/WorkSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
    url('../fonts/WorkSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: #6725a8;
  font-family: 'Segoe UI';
  padding: 0;
  margin: 0;
  position: relative;
}

.subheading {
  font-size: 20px;

  @media (min-width: 1024px) {
    font-size: 24px;
    font-weight: 700;
  }
}

input,
button,
label {
  cursor: pointer;
}

fieldset {
  border: none;
}

input[type='text']:focus {
  outline: none;
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
} */

/*HEADER*/

header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 14px 13px 16px 13px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    padding: 17px 24px;
  }
}

.header-heading {
  font-family: 'Segoe UI';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  padding: 0 14px;

  @media (min-width: 1024px) {
    max-width: 106px;
    padding: 0 10px;
  }
}

.header-burger-search {
  padding-top: 3px;
  padding-right: 2px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.header-search {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    background-color: rgba(103, 37, 168);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 35px;
    padding: 0 20px;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
  }
}

.header-search:focus {
  @media (min-width: 1024px) {
    background-color: white;
  }
}

.header-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.header-search-label {
  position: relative;
}

.header-search-label::after {
  content: '';
  position: absolute;
  background-image: url('./images/icon-search.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 13px;
  opacity: 50%;
}

.main-header-profile,
.main-header-cart {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 13px;
    gap: 7px;
    margin-left: 20px;
    position: relative;
  }
}

.main-header-cart a {
  position: relative;
}

.main-header-cart a::before {
  content: '3';
  font-size: 10px;
  line-height: 18px;
  color: white;
  position: absolute;
  width: min-content;
  padding: 0 4px;
  height: 16px;
  background-color: #f55123;
  border-radius: 10px;
  right: 5px;
  bottom: 40px;
}

.header-burger-menu {
  @media (min-width: 1024px) {
    content: url('images/icon-burger-big.svg');
    width: 48px;
    height: 48px;
  }
}

/*MAIN*/

main {
  background-color: #f6f6fa;
  width: auto;
  margin: 0;
  border-radius: 30px;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 32px;
    padding: 20px 24px 54px 24px;
  }
}

.container {
  @media (min-width: 1024px) {
    width: 67%;
    box-sizing: border-box;
  }
}

/*CART*/

.cart {
  padding: 9px 16px;

  @media (min-width: 1024px) {
    width: 100%;
    padding: 0;
  }
}

.cart h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.check-all-block {
  display: flex;
  justify-content: space-between;
  padding-left: 33px;
  margin-bottom: 20px;
}

.check-all-checkbox {
  position: relative;
}

.check-all-checkbox::before {
  position: absolute;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 18px;
  height: 18px;
  top: -13px;
  left: -32px;
}

.check-all-checkbox:checked::before {
  background-color: #cb11ab;
  background-image: url('./images/icon-checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.fold-all-button {
  border: none;
  background: none;
  padding: 2px 3px 0 2px;
}

.rotated-image {
  transform: rotate(180deg) translate(0, 50%);
}

.presented-items-summary-block {
  font-weight: 700;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: 1024px) {
    padding-left: 34px;
  }
}

.cart-items-list--missed {
  @media (min-width: 1024px) {
    padding-left: 0;
    width: 574px;
  }
}

.items-lists-separator {
  display: none;
  position: relative;
}

.items-lists-separator::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  height: 1px;
  top: 100%;
}

.check-all-block {
  position: relative;
}

.check-all-block::after {
  display: none;
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  height: 1px;
  bottom: -10%;
}

/*ITEM*/

.item {
  position: relative;
  column-gap: 13px;
  padding: 8px 0;
  display: grid;
  grid-template-columns: 29% 1fr;
  grid-template-areas:
    'photo price'
    'photo description'
    'buttons buttons';

  @media (min-width: 1024px) {
    grid-template-areas: 'photo description buttons price';
    grid-template-columns: 13% 43% 16% 17%;
    column-gap: 0;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 10% 60% 15% 15%;
  }
}

.item::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 288px;
  height: 1px;
  top: -5px;
}

.item-missed {
  grid-template-areas:
    'photo description'
    'buttons buttons';
  column-gap: 5px;

  @media (min-width: 1024px) {
    grid-template-areas: 'photo description buttons';
    display: flex;
    column-gap: 0;
  }
}

.item-photo-block {
  position: relative;
  grid-area: photo;

  @media (min-width: 1024px) {
    order: 0;
  }
}

.item-description-block {
  grid-area: description;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    padding-left: 12px;
    order: 1;
  }

  @media (min-width: 1440px) {
    margin-right: auto;
  }
}

.item-description-block--missed {
  @media (min-width: 1024px) {
    margin-right: 63px;
  }
}

.item-description-block p {
  margin: 0;
}

.item-size-beige {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 7px;
  position: absolute;
  bottom: 8px;
  left: 4px;
  display: flex;
  align-items: baseline;
  justify-content: center;

  @media (min-width: 1024px) {
    display: none;
  }
}

.item-photo-checkbox {
  position: relative;
}

.item-photo-checkbox::before {
  position: absolute;
  content: '';
  border-radius: 5px;
  width: 22px;
  height: 22px;
  left: 9px;
  bottom: 81px;
  background-color: white;

  @media (min-width: 1024px) {
    /* display: none; */
    top: 0;
  }
}

.item-photo-checkbox:checked::before {
  background-color: #cb11ab;
  background-image: url('./images/icon-checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.item-price {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding-top: 2px;

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.item-price-long {
  font-size: 15px;
}

.item-price-block {
  grid-area: price;
  display: flex;
  justify-content: start;
  gap: 6px;
  align-items: baseline;
  height: 24px;

  @media (min-width: 1024px) {
    order: 3;
    flex-direction: column;
    align-items: end;
    position: relative;
  }
}

.item-price-discount-summary {
  display: none;
}

.item-price-discount-summary p {
  margin: 0;
}

.discount:hover + .item-price-discount-summary {
  @media (min-width: 1024px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-size: 13;
    width: 280px;
    top: 250%;
    padding: 15px 18px;
    z-index: 99;
    box-sizing: border-box;
  }
}

.item-price-discount-block {
  display: flex;
  justify-content: space-between;
}

.item-price-discount-name {
  color: #a0a0a4;
}

.discount {
  font-weight: 400;
  font-size: 13px;
  color: gray;
  text-decoration: line-through underline;
  cursor: pointer;
}

.item-title {
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.missing-items li {
  color: #9797af;
}

.missing-items .item-photo {
  filter: grayscale(100%);
}

.item-color,
.item-storage {
  font-size: 13px;
  margin: 0;
  margin-top: 5px;
}

.item-color-size-block {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: baseline;
  }
}

.item-storage {
  color: gray;
}

.item-seller-block,
.item-size {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    font-size: 13px;
  }
}

.item-seller-block {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    color: gray;
    position: relative;
  }
}

.item-seller {
  @media (min-width: 1024px) {
    margin: 0;
    position: relative;
  }
}

.seller-details-block {
  display: none;
}

.seller-details-icon {
  cursor: pointer;
}

.seller-details-icon:hover + .seller-details-block {
  @media (min-width: 1024px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-size: 13;
    width: 280px;
    top: 120%;
    padding: 11px 14px;
    z-index: 99;
    box-sizing: border-box;
  }
}

.seller-details-block h3 {
  margin: 0;
  text-transform: uppercase;
}

.item-size {
  @media (min-width: 1024px) {
    display: block;
    font-size: 13px;
    margin: 0;
  }
}

.item-buttons-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
  grid-area: buttons;

  @media (min-width: 1024px) {
    flex-direction: column;
    order: 2;
  }
}

.item-buttons-block button {
  border: none;
  background: none;
}

.decrease-button,
.increase-button {
  font-size: 20px;
}

.item-buttons-block--missing {
  justify-content: end;

  @media (min-width: 1440px) {
    margin: 0 10% 0 auto;
  }
}

.item-button-favorite,
.item-button-delete {
  position: relative;
}

.item-button-favorite::before {
  position: absolute;
  content: '';
  background-image: url('./images/icon-favorite.svg');
  width: 20px;
  height: 16px;
  top: 0;
}

.item-button-favorite:hover::before {
  background-image: url('./images/icon-favorite-hover.svg');
  transition: 300ms ease-out;
  cursor: pointer;
}

.item-button-delete::before {
  position: absolute;
  content: '';
  background-image: url('./images/icon-delete.svg');
  width: 16px;
  height: 16px;
  top: 0;
}

.item-button-delete:hover::before {
  background-image: url('./images/icon-delete-hover.svg');
  transition: 300ms ease-out;
  cursor: pointer;
}

.item-quantity {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 80px;

  @media (min-width: 1024px) {
    margin-bottom: 15px;
  }
}

.item-quantity p {
  margin: 0;
}

.item-remaining {
  color: red;
  font-size: 13px;
}

.item-misc-buttons {
  width: 30%;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    padding-right: 65px;
  }
}

.item-misc-buttons--missing {
  @media (min-width: 1024px) {
    display: none;
  }
}

.item-missed:hover .item-misc-buttons--missing {
  @media (min-width: 1024px) {
    display: flex;
  }
}

.missed-block-separator {
  position: relative;
}

.missing-items-header {
  padding: 0;
}

.missing-items-header-block {
  display: flex;
  gap: 16px;
  position: relative;
}

.missing-items-header-block::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: black;
  left: 58%;
  right: 42%;
  top: 27px;
}

.missing-items-header-block p {
  font-size: 16px;
  font-weight: 700;
}

/*DELIVERY*/

.delivery {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}

.delivery h2 {
  margin: 0;
}

.delivery-block-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delivery-block-heading button {
  border: none;
  background: none;
  color: #cb11ab;
  font-weight: 700;
  font-size: 16px;
}

.item-description-block--missed .delivery-block-heading h2 {
  @media (min-width: 1024px) {
    font-size: 20px;
    font-weight: 700;
  }
}

.pick-up-point {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-areas:
      'heading address'
      'heading info';
    grid-template-columns: 207px 1fr;
    width: 891px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 23% 77%;
  }
}

.pick-up-point-heading {
  margin: 0;
  font-weight: 700;

  @media (min-width: 1024px) {
    grid-area: heading;
    width: 177px;
  }
}

.pick-up-point-address {
  margin: 5px 0;
  font-size: 16px;

  @media (min-width: 1024px) {
    grid-area: address;
  }
}

.pick-up-point-info {
  display: flex;
  align-items: baseline;

  @media (min-width: 1024px) {
    grid-area: info;
  }
}

.pick-up-point-info p {
  margin: 0 5px;
  font-size: 13px;
}

.delivery-cost {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.delivery-cost-block {
  @media (min-width: 1024px) {
    display: flex;
    gap: 50px;
    align-items: baseline;
  }
}

.delivery-cost-result {
  font-size: 16px;
  margin: 0;
}

.delivery-dates {
  font-size: 16px;
  font-weight: 700;

  @media (min-width: 1024px) {
    width: 208px;
  }
}

.delivery-dates-block {
  @media (min-width: 1024px) {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}

.items-thumbnails-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;

  @media (min-width: 1024px) {
    max-width: 429px;
    padding: 0;
  }
}

.items-thumbnails-list li {
  position: relative;
}

.items-thumbnails-list li::before {
  content: '184';
  font-size: 10px;
  line-height: 18px;
  color: white;
  position: absolute;
  width: min-content;
  padding: 0 4px;
  height: 16px;
  background-color: #f55123;
  border-radius: 10px;
  right: -4px;
  top: -8px;
}

.delivery-refund {
  font-size: 13px;
  display: flex;
  padding: 0 10px;
  gap: 10px;
  position: relative;
}

.delivery-refund--summary {
  position: relative;
}

.delivery-refund p {
  margin: 0;
}

.delivery-refund-block {
  display: none;
}

.delivery-refund span {
  color: #0cb477;
  cursor: pointer;
  position: relative;
}

.delivery-refund:hover .delivery-refund-block {
  @media (min-width: 1024px) {
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-size: 13;
    max-width: 277px;
    top: 100%;
    left: -4%;
    width: 288px;
    padding: 10px 10px;
    z-index: 99;
    box-sizing: border-box;
    font-size: 13px;
  }
}

.delivery-refund--summary:hover .delivery-refund-block {
  @media (min-width: 1024px) {
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    font-size: 13;
    max-width: 277px;
    top: 100%;
    left: -4%;
    width: 288px;
    padding: 10px 10px;
    z-index: 99;
    box-sizing: border-box;
    font-size: 13px;
  }
}

/*PAYMENT*/

.payment {
  background-color: white;
  padding: 16px;
  border-radius: 20px;
  margin-top: 13px;

  @media (min-width: 1024px) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

.payment-block-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-block-heading button {
  color: #cb11ab;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
}

.payment-block-heading h2 {
  margin: 0;
}

.payment-method-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.payment-method-details p {
  margin: 0;
}

.payment-method-message {
  font-size: 13px;
  color: #9797af;
  margin: 0;
  margin-top: 10px;
}

/*CUSTOMER*/

.customer {
  margin-top: 13px;
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}

.customer h2 {
  margin-top: 0;
}

.customer-details-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 45px;

  @media (min-width: 1024px) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
  }
}

.customer-details-entry {
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-family: 'Segoe UI';
  border: none;
  position: relative;

  @media (min-width: 1024px) {
    width: auto;
  }
}

.customer-details-entry--name {
  @media (min-width: 1024px) {
    width: 283px;
  }

  @media (min-width: 1440px) {
    width: 338px;
  }
}

.customer-details-entry--surname {
  @media (min-width: 1024px) {
    width: 283px;
  }

  @media (min-width: 1440px) {
    width: 338px;
  }
}

.customer-details-entry--email {
  @media (min-width: 1024px) {
    width: 180px;
  }

  @media (min-width: 1440px) {
    width: 217px;
  }
}

.customer-details-entry--phone {
  @media (min-width: 1024px) {
    width: 180px;
  }

  @media (min-width: 1440px) {
    width: 217px;
  }
}

.customer-details-entry--inn {
  @media (min-width: 1024px) {
    width: 180px;
  }

  @media (min-width: 1440px) {
    width: 217px;
  }
}

.customer li {
  position: relative;
}

.customer li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  top: 120%;
  left: 0;
}

.customer-details-label {
  font-size: 12px;
}

.customer-details-label--phone {
  color: #a0a0a4;
}

.customer-details-inn {
  position: absolute;
  left: 0;
  top: 130%;
}

.error-field {
  color: #f55123;
  position: relative;
  border: 1px solid red;
}

.error-field::after {
  content: 'Укажите имя';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f55123;
  top: 120%;
  left: 0;
}

/*SUMMARY*/

.summary {
  padding: 16px;
  border-radius: 20px;

  @media (min-width: 1024px) {
    background-color: white;
    border-radius: 20px;
    width: 31%;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  }
}

.summary-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.summary-list p {
  margin: 0;
}

.summary-cost {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.summary-cost p {
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.summary-items,
.summary-discount,
.summary-delivery {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.summary-pick-point,
.summary-payment {
  display: none;
}

.summary-pick-point {
  @media (min-width: 1024px) {
    display: block;
    margin-bottom: 10px;
  }
}

.summary-pick-point p {
  @media (min-width: 1024px) {
    font-size: 13px;
    padding-right: 13px;
    margin: 4px 0;
  }
}

.summary-pick-point button {
  @media (min-width: 1024px) {
    border: none;
    background: none;
  }
}

.summary-pick-point-date {
  @media (min-width: 1024px) {
    color: #cb11ab;
  }
}

.summary-pick-point-heading {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.summary-pick-point-heading h3 {
  @media (min-width: 1024px) {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.delivery-refund--summary {
  background-color: #f0ecf4;
  padding: 10px 10px;
  border-radius: 8px;
}

.summary-payment {
  @media (min-width: 1024px) {
    display: block;
    margin-top: 10px;
  }
}

.summary-payment-heading {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.summary-payment-heading button {
  @media (min-width: 1024px) {
    border: none;
    background: none;
  }
}

.summary-payment-heading h3 {
  @media (min-width: 1024px) {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.summary-payment-method {
  @media (min-width: 1024px) {
    display: flex;
    gap: 10px;
    align-items: baseline;
    font-size: 13px;
  }
}

.card-date {
  @media (min-width: 1024px) {
    display: none;
  }
}

.summary-payment-time {
  background-color: #f0ecf4;
  padding: 10px 10px;
  border-radius: 8px;
  margin: 15px 0 30px 0;
  font-size: 13px;

  @media (min-width: 1024px) {
    margin-bottom: 23px;
  }
}

.summary-payment-time p {
  margin: 0;
  padding: 7px 0;
}

.summary-payment-time label {
  padding-left: 30px;
  position: relative;
}

#bill-now-button {
  position: relative;
}

#bill-now-button::before {
  position: absolute;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 18px;
  height: 18px;
  bottom: -2px;
  left: 0;
}

#bill-now-button:checked::before {
  background-color: #cb11ab;
  background-image: url('./images/icon-checked.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.summary-order-button {
  border: none;
  background-color: #cb11ab;
  color: white;
  font-family: 'Segoe UI';
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
}

.summary-agreement {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
}

.summary-agreement p {
  margin: 0;
  font-size: 13px;
  padding-left: 10px;

  @media (min-width: 1024px) {
    margin-bottom: 0;
    padding-right: 18px;
  }
}

/*FOOTER*/

footer {
  text-align: center;
  color: white;
}

footer p {
  font-size: 13px;
  padding: 10px 0;
  opacity: 60%;
}

/*NAVIGATION*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 13px 10px 13px;
  background-color: white;

  @media (min-width: 1024px) {
    display: none;
  }
}

.main-navigation-item {
  position: relative;
}

.main-navigation-item::before {
  content: '3';
  font-size: 10px;
  line-height: 18px;
  color: white;
  position: absolute;
  width: min-content;
  padding: 0 4px;
  height: 16px;
  background-color: #f55123;
  border-radius: 10px;
  right: -5px;
  bottom: 60%;
}

/*MODAL*/

.modal {
  background-color: white;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 594px;
  top: 0;

  @media (min-width: 1024px) {
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.payment-modal {
  @media (min-width: 1024px) {
    width: 400px;
    height: 408px;
  }
}

.delivery-modal {
  @media (min-width: 1024px) {
    width: 500px;
  }
}

.modal h2 {
  margin: 0;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.close-modal {
  border: none;
  background: none;
  background-image: url('./images/icon-modal-close.svg');
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
}

.modal-cards-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0;
  padding-left: 33px;
}

.modal-payment-card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal-payment-method {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.modal-payment-method img {
  order: 1;
}

.modal-payment-method input {
  order: 0;
}

.modal-payment-method label {
  order: 2;
}

.modal-payment-method p {
  margin: 0;
}

.delivery-modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.delivery-modal-button {
  border: none;
  background: none;
  height: 40px;
  font-weight: 700;
  outline: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 50px;
  width: 50%;
}

.button--active {
  outline: 2px solid rgba(203, 17, 171, 1);
}

.modal-pickpoint-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.modal-address-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}

.modal-pick-up-point {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.modal-pick-up-point button {
  margin-left: auto;
}

.modal-delete-button {
  border: none;
  background: none;
  cursor: pointer;
}

.modal-delete-button::before {
  background-image: url('./images/icon-modal-delete.svg');
  right: 4px;
}

.modal-pick-up-point-address {
  margin-top: 0;
  font-size: 14px;
}

.modal-confirm-button {
  margin-top: auto;
  @media (min-width: 1024px) {
    width: 164px;
  }
}

.payment-modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
  box-sizing: border-box;
}

.delivery-modal form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94%;
  box-sizing: border-box;
}

input[type='radio'] + label {
  position: relative;
}

input[type='radio'] + label::before {
  position: absolute;
  content: '';
  border-radius: 100%;
  width: 14px;
  height: 14px;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

input[type='radio']:checked + label::before {
  width: 6px;
  height: 6px;
  outline: 5px solid #cb11ab;
}

.modal-pickpoint-entry + label::before {
  top: 6px;
  left: -30px;
}

.modal-pickpoint-entry:checked + label::before {
  top: 9px;
  left: -26px;
}

.modal-payment-entry + label::before {
  top: 1px;
  left: -70px;
}

.modal-payment-entry:checked + label::before {
  top: 4px;
  left: -66px;
}

.modal-address-entry + label::before {
  top: 3px;
  left: -28px;
}

.modal-address-entry:checked + label::before {
  top: 6px;
  left: -24px;
}

.payment-card-wrapper {
  width: 32px;
  display: flex;
  align-items: flex-start;
}
